:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    /*0.75 opacity for lightbox background*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    gap: 1rem;
    padding: 2rem 7rem;
    position: relative;
}
/* MOBILE MENU */
.mobile-menu {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    background-color: var(--white);
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.active {
    visibility: visible;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
.enabled {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}
.mobile-menu .close-menu i {
    font-size: 2rem;
    color: var(--darkGrayishBlue);
    cursor: pointer;
}
.mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mobile-menu ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--veryDarkBlue);
    font-weight: 700;
}



header {
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--lightGrayishBlue);
}
header nav {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}
/* Hamburger Menu */

.hamburger {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: all 0.25s;
    position: relative;
    background-color: transparent;
    border: none;
}

.hamburger-top, 
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background: var(--darkGrayishBlue);
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle {
    transform: translateY(5px);
}
.hamburger-bottom {
    transform: translateY(10px);
}
header nav .logo {
    width: 50%;
}
header nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
header nav ul a {
    text-decoration: none;
    color: var(--darkGrayishBlue);
    font-size: 0.9rem;
    padding-bottom: 2.9rem;
    transition: all 0.05s ease-in;
}
header nav ul a:hover {
    border-bottom: 5px solid var(--orange);
}
.header-icon {
    display: flex;
    gap: 2rem;
    position: relative;
}
.cart-items {
    visibility: hidden;
    position: absolute;
    background-color: var(--orange);
    color: var(--white);
    width: 25px;
    height: 15px;
    border-radius: 50px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    top: 40%;
    left: 10%;
}
.header-icon i {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    color: var(--darkGrayishBlue);
    cursor: pointer;
}
.header-icon i:hover {
    color: var(--veryDarkBlue);
}
.header-icon div:last-child {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.header-icon div:last-child:hover {
    border: 2px solid var(--orange);
}
.header-icon img {
    width: 47px;
    height: 47px;
    position: absolute;
}
/*CART*/
.cart-body {
    display: none;
    position: absolute;
    top: -2rem;
    right: 0;
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.cart-body h3 {
    border-bottom: 2px solid var(--lightGrayishBlue);
    padding: 1.5rem 2rem;
}
.cart-body > div {
    color: var(--darkGrayishBlue);
    font-weight: bold;
    height: 180px;
    position: relative;
}
.cart-empty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cart-body.view {
    display: block;
}
.cart-body > div > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkout-details {
    color: var(--grayishBlue);
    font-weight: 400;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}
.checkout-img {
    width: 20%;
    border-radius: 10px;
}
.checkout-details > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.checkout-details > div span {
    color: var(--veryDarkBlue);
    font-weight: 700;
}
.checkout-details i {
    align-self: center;
    font-size: 20px;
    cursor: pointer;
}
.checkout-details i:hover {
    color: var(--orange);
}
.checkout-btn {
    padding: 0.8rem;
    margin: 0 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
.checkout-btn:hover {
    opacity: 0.7;
}
.checkout-btn:active {
    transform: scale(0.8);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
main {
    width: 100%;
    display: flex;
    gap: 5rem;
    padding: 3rem 1rem;
    position: relative;
}
.product {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}
.product .main-product {
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
.product .main-product img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.product .product-thumbnails {
    display: flex;
    width: 100%;
    gap: 4%;
}
.product-thumbnails img {
    width: 22%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.4s ease-in;
    cursor: pointer;
}
/* .product-thumbnails .product-thumbnail:hover {
    transform: scaleY(-5px);
} */
.product-thumbnails img:hover {
    transform: translate(0, -8px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}
.clicked {
    border: 2px solid var(--orange);
    opacity: 0.7;
}
.mobile {
    display: none;
    position: relative;
}
.mobile-product {
    display: none;
}
.display {
    display: none;
}
.previous-img, .next-img {
    position: absolute;
    width: 50px;
    background-color: var(--white);
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    float: left;
    cursor: pointer;
}
.previous-img {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}
.next-img {
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}
.previous-img img, .next-img img {
    align-self: center;
}
main .desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}
.desc h4 {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--orange);
}
.desc h1 {
    font-size: 3rem;
    color: var(--veryDarkBlue);
}
.desc p {
    color: var(--darkGrayishBlue);
    line-height: 1.6;
}
.desc .product-amount .current-amount {
    font-size: 1.8rem;
    color: var(--veryDarkBlue);
    display: flex;
    align-items: center;
}
.product-amount .current-amount .product-discount {
    margin-left: 1rem;
    font-size: 1rem;
    background-color: var(--paleOrange);
    color: var(--orange);
    border-radius: 5px;
    padding: 0.4rem;
}
.product-amount .prev-amount {
    color: var(--grayishBlue);
    margin-top: 1rem;
    text-decoration: line-through;
    font-weight: 700;
}
.desc .add-item {
    display: flex;
    gap: 1.5rem;
}
.add-item > div {
    display: flex;
    gap: 2rem;
    background-color: var(--lightGrayishBlue);
    padding: 0.8rem;
    border-radius: 10px;
    color: var(--veryDarkBlue);
}
.add-item > div i {
    color: var(--orange);
    align-self: center;
    cursor: pointer;
}
.input {
    border: none;
    outline: none;
    color: var(--veryDarkBlue);
    font-weight: 700;
}
.add-item button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 0 3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s all;
}
.add-item button:active {
    transform: scale(0.8);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.add-item button:hover {
    opacity: 0.7;
}
/*LIGHT BOX*/
.lightbox {
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    display: flex;
    justify-content: center;
}
.lightbox-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    padding: 2rem 0;
}
.lightbox-body i {
    font-size: 30px;
    color: var(--white);
    align-self: flex-end;
    cursor: pointer;
}
.lightbox-body i:hover {
    color: var(--orange);
}
.lightbox .main-product {
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
.lightbox .main-product img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.lightbox-img {
    display: none;
}
.lightbox-main {
    display: block;
}
.lightbox .product-thumbnails {
    display: flex;
    width: 100%;
    gap: 4%;
}
.lightbox .product-thumbnails img {
    width: 22%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.4s ease-in;
    cursor: pointer;
}
/* .product-thumbnails .product-thumbnail:hover {
    transform: scaleY(-5px);
} */
.lightbox .product-thumbnails img:hover {
    transform: translate(0, -8px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}
.clicked {
    border: 2px solid var(--orange);
    opacity: 0.7;
}
.lightbox .lightbox-prev, .lightbox .lightbox-next {
    position: absolute;
    width: 40px;
    background-color: var(--white);
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    float: left;
    cursor: pointer;
}
.lightbox .lightbox-prev {
    top: 45%;
    left: -4%;
    transform: translateY(-50%);
}
.lightbox .lightbox-next {
    top: 45%;
    right: -4%;
    transform: translateY(-50%);
}
.lightbox .lightbox-prev i, .lightbox .lightbox-next i {
    color: var(--veryDarkBlue);
    font-size: 20px;
    align-self: center;
}
.lightbox .lightbox-prev i:hover, .lightbox .lightbox-next i:hover{
    color: var(--orange);
}
